.point:hover {
  cursor: pointer;
  background-color: #e9e9e9be;
  border-radius: 5px;
}

.header-icon {
  @apply px-2 py-1 mx-0.5;
}

.button-bg {
  background-color: rgb(44, 171, 219);
}

.share-like-input {
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px;
  background-color: rgb(245, 245, 245);
  color: rgba(55, 53, 47, 0.65);
}

.share-Universal {
  @apply px-4 h-8 rounded;
}

.box-shadow {
  box-shadow: rgb(15 15 15 / 10%) 2px 2px 5px;
}

.share-transition {
  transition: background 200ms ease 0s, box-shadow 200ms ease 0s;
}

.share-transition2 {
  transition: transform 200ms ease-out 0s, background 200ms ease-out 0s;
  transform: translateX(0px) translateY(0px);
}
.side-minW {
  min-width: 200px;
}
.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}
.header-minW {
  min-width: 200px;
}
#container{
  width: 100%;
}
