.point:hover {
  cursor: pointer;
  background-color: #e9e9e9be;
  border-radius: 5px;
}

.header-icon {
  @apply px-2 py-1 mx-0.5;
}

.button-bg {
  background-color: rgb(44, 171, 219);
}

.share-like-input {
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px;
  background-color: rgb(245, 245, 245);
  color: rgba(55, 53, 47, 0.65);
}

.share-Universal {
  @apply h-8 px-4 rounded;
}

.box-shadow {
  box-shadow: rgb(15 15 15 / 10%) 2px 2px 5px;
}

.side-minW {
  min-width: 200px;
}
.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}
.header-minW {
  min-width: 200px;
}

.content {
  height: calc(100vh - 45px);
}
.cdx-checklist__item-checkbox {
  border: 1px solid #808080 !important;
}
.tc-table {
  border-top: 1px solid #808080 !important;
}
.tc-row {
  border-bottom: 1px solid #808080 !important;
}
.tc-cell {
  border-right: 1px solid #808080 !important;
}
.cdx-input {
  border-left: 3px solid #000000;
  border-top: 0px solid #ffffff;
  border-right: 0px solid #ffffff;
  border-bottom: 0px solid #ffffff;
  border-radius: 0px;
  min-height: 20px !important;
}
.cdx-quote__caption {
  display: none !important;
}
.ce-delimiter:before {
  content: "_________________________________________________________________________________________" !important;
  letter-spacing: 0px !important;
  font-size: 5px !important;
  color: #808080 !important;
}
.ce-header {
  font-weight: 500;
}
.state {
  @apply w-full;
}
